#container {
  display: flex;
  min-height: 100%;

  .menu {
    position: relative;
    /deep/ .at-menu {
      height: 100%;
    }

    .copy-right {
      position: absolute;
      bottom: 14px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .content {
    height: 100vh;
    padding: 34px;
    flex: 2;
  }
}