#container {
  display: flex;
  min-height: 100%;

  .menu {
    /deep/ .at-menu {
      height: 100%;
    }

    .copy-right {
      position: fixed;
      bottom: 0;
      left: 50px;
    }
  }
  .content {
    min-height: 100%;
  }
}